/*----------- NAVBAR -----------*/
.saludo{
  background: linear-gradient(to right,red 2.5em,white 0);
  margin: auto;
  font-weight: 600;
  font-size: larger;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.fixed {
 height: 60px
}
#redtext {
  color: rgb(209, 40, 40);
  font-weight: bold;
}
#redtext:hover {
  color: lightgrey;
}
.logo {
  width: 40px;
  border-radius: 15%;
  box-shadow: 3px 3px rgb(73, 73, 73);
}
.logo:hover {
  width: 42px;
}
.divlogo {
  width: 50px;
  height: 50px;
}
.henryComics {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 10px;
}
/*----------- CARRUSEL -----------*/
.imgcarrousel {
  object-fit: cover;
  width: 100%;
}
.carrousel {
  height: 550px;
  width: 100%;
}
/*-------------------------------*/

.footer {
  width: 100%;
  padding-top: 20px;
  margin-top: 40px;
  padding-bottom: 20px;
  color: white;
}

.footerLogo {
  width: 130px;
  margin-top: 25px;
  margin-left: 10px;
  border-radius: 15%;
  box-shadow: 3px 3px rgb(73, 73, 73);
}

.redBorder {
  border-left: 2px solid;
  border-color: rgb(209, 40, 40);
  padding-left: 20px;
  height: 15px;
  background-color: rgb(209, 40, 40);
  color: lightgray;
}

.rutaAdmin{
  width: 100%;
  display: flex !important;
  flex-direction: row;
}