#redtext {
  color: rgb(209, 40, 40);
  font-weight: bold;
}
#redtext:hover {
  color: lightgrey;
}

.logo {
  width: 40px;
  border-radius: 15%;
  box-shadow: 3px 3px rgb(73, 73, 73);
  animation-timing-function: ease-in;
}

.logo:hover {
  width: 42px;
 
}

.divlogo {
  width: 50px;
}

.fixed {
  height: 80px;
}

.carrousel {
  height: 550px;
  margin-top: 20px;
}

.imgcarrousel {
  height: 550px;
  object-fit: cover;
  background-position: center
}

.footer {
  height: 15px;
  background-color: rgb(209, 40, 40);
  color: lightgray;
}

.rutaAdmin{
  width: 100%;
  display: flex !important;
  flex-direction: row;
}