
    .title-carrito{
        text-align: center;
    }
    .list-carrito{
        padding: 10px;
    }
        .lab-inp-but{
            display: flex;
            align-items: baseline;
            justify-content: space-between;
        }
            .item-carrito{
                justify-content: space-between;
                display: flex;
                align-items: baseline;
            }
            .inc-dec{
                display: flex;
                width: 30%;
            }
            .end-buts{
                align-self: flex-end;
                align-items: baseline;
            }
    .total{
        text-align: center;
    }
    .buttons{
        display: flex;
        justify-content: space-around;
    }