.review-box{ 
  width: 45% !important;  
}

.reviews{
  margin-left: 10px
}

.input-review{
  width: 100%;
  height: 10vh;
  overflow: auto;
}

.form-review{
  padding: 0;
}

.allReviews {
  max-height: 25vh;
  overflow: auto;
  margin-bottom: 10px;
}