.cPanel{
    width: 15%;
}
.boxContent{
    width: 85%;

}

.bg-rojo{
    background-color: rgb(209, 40, 40);
}


.nav a h4 {    
    color: white;
}

.nav a h4:hover{
    color: darkgrey ;
}
.nav a h4:active{
    color: black ;
}
.nav a h4:visited{
    color: black ;
}